@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --color-twitter-blue: #1DA1F2;
  --color-custom-blue: #092A41;
  
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #d5f7ff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  --animate-scan-line: scan-line 20s linear infinite;

  @keyframes scan-line {
    0% {
      top: 0%;
    }
    100% {
      top: 100%;
    }
  }
}

.animate-scan-line {
  animation: var(--animate-scan-line);
}

